/vendor/
/node_modules/
.env
.env.*.local
.phpunit.result.cache
/storage/*.key
/public/storage
/public/hot
/storage/framework/views/
/storage/framework/sessions/
/storage/framework/cache/
/storage/framework/testing/
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/app/public/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/logs/
.DS_Store
composer.phar